@page "/details/{Id:int}"
@inject ILibraryService _libraryService


@if (book is not null)
{
    <div class="d-flex justify-content-center">
    <div class="card shadow " style="width: 20rem;">
        @*   <a href="#" class="card-link"></a> *@
        <img src="@($"/images/book{Id}.jpg")"
             class="card-img-top" alt="book image"
             onerror="this.onerror=null;this.src='/images/no-image.png';">
        <div class="card-body text-left">
            <table class="table">
                <tr>
                    <th scope="row">Titel</th>
                    <td>@book.Title</td>
                </tr>
                <tr>
                    <th scope="row">Author</th>
                    <td>@book.Author</td>
                </tr>
                <tr>
                    <th scope="row">Genre</th>
                    <td>@book.Genre</td>
                </tr>
                <tr>
                    <th scope="row">Published</th>
                    <td>@book.PublishedYear</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>@book.Description</td>
                </tr>
                    <tr>
                        <th scope="row">Availability</th>
                        <td>@(book.IsAvailable ? "Available" : "On loan")</td>
                    </tr>
            </table>
        </div>
    </div>
    </div>
}

@* <div class="card shadow border-0 mt-4">
    <div class="card-header bg-success-subtle ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center ">
                <h1 class="text-black">Coupon Details</h1>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-1">Book Id</th>
                    <th class="col-3">Title</th>
                    <th class="col-3">Author</th>
                    <th class="col-2">Genre</th>
                    <th class="col-3">Description</th>
                    <th class="col-2">Availability</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @if (book is not null)
                    {
                        <td class="col-1">@book.Id</td>
                        <td class="col-3">@book.Title</td>
                        <td class="col-3">@book.Author</td>
                        <td class="col-2">@book.Genre</td>
                        <td class="col-3">@book.Description</td>
                        <td class="col-2">@(book.IsAvailable ? "Available" : "On loan")</td>
                        <td></td>
                    }
                    else
                    {
                        <p><em>Loading...</em></p>
                    }
                </tr>

            </tbody>


        </table>


    </div>

</div> *@

<GoBack></GoBack>

@code {
    BookDto book = new BookDto();


    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await _libraryService.GetBookById<ResponseDTO>(Id);
        if (response != null && response.IsSuccess)
        {
            book = JsonConvert.DeserializeObject
            <BookDto>(Convert.ToString(response.Result));
        }
    }
}
