@page "/details/{Id:int}"
@inject ILibraryService _libraryService


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-info bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-black">Coupon Details</h1>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-1">Book Id</th>
                    <th class="col-3">Title</th>
                    <th class="col-3">Author</th>
                    <th class="col-2">Genre</th>
                    <th class="col-3">Description</th>
                    <th class="col-2">Availability</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @if(book is not null)
                    {
                        
                  
                        <td class="col-1">@book.Id</td>
                        <td class="col-3">@book.Title</td>
                        <td class="col-3">@book.Author</td>
                        <td class="col-2">@book.Genre</td>
                        <td class="col-3">@book.Description</td>
                        <td class="col-2">@(book.IsAvailable ? "Available" : "On loan")</td>
                        <td></td>
                    }
                    else
                    {
                        <p><em>Loading...</em></p>
                    }
                </tr>

            </tbody>


        </table>


    </div>

</div>

<GoBack></GoBack>

@code {
    BookDto book = new BookDto();

    
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await _libraryService.GetBookById<ResponseDTO>(Id);
        if (response != null && response.IsSuccess)
        {
            book = JsonConvert.DeserializeObject
            <BookDto>(Convert.ToString(response.Result));
        }
    }
}
